html {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
    background-repeat: no-repeat;
    background-size:100% 100vh;
}
body{
    font-family: Roboto, 'Times New Roman', Times, serif;
}

h1 {
    justify-self: center;
    margin-bottom: 2px;
    margin-top: 3px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

section{
    justify-self: center;
}

.flex-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 7%;

    margin: 10px;
    overflow: hidden;
}

.nav-item {
    flex: 1;

    color: black;
    text-align: center;
    background-color: #fff;
    transition-duration: 0.4s;

    padding: 14px 16px;
    border: 1px solid black;
    border-radius: 6px;

}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item:hover {
    background-color: rgb(157, 36, 36);
    color: #fff;
}

.destination-block{
    display: flex;

    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    padding-top: 1%;
    padding-bottom: 19%;
    padding-inline: 17%;

    border: solid black;
    border-radius: 6px;
}

.nav-item .destination-block{
    gap: 5%;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        gap: 3px;
    }
  }